*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}



form{
    width: 100%;
    max-width: 400px;
    padding: 20px;
    text-align: center;
    margin: auto;
    margin-top: 40px;
    animation: cambia-color 10s linear infinite;
    background: -webkit-linear-gradient(left, #dd5a26, #e80808);
    background-size: 400% 400%;
}

@keyframes cambia-color{
    0%{
        background-position: 0%, 50%;
    }
    
    50%{
        background-position: 100%, 50%;
    }
    
    100%{
        background-position: 0%, 100%;
    }
}

.title{
    font-size: 14px;
    text-align: center;
    font-weight: 100;
    color: white;
}

.logotipo{
    width: 140px;
    margin-top: 40px;
}

::placeholder{
    color: white;
}


input[type="text"]{
    width: 100%;
    padding: 14px;
    font-size: 16px;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.4);
    border-style: none;
    outline: 0px;
    color: white;
}

input[type="password"]{
    width: 100%;
    padding: 14px;
    font-size: 16px;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.4);
    border-style: none;
    outline: 0px;
    color: white;
}

input[type="button"]{
    width: 100%;
    padding: 14px;
    font-size: 14px;
    font-weight: 100;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.2);
    border-style: none;
    border: 2px solid rgba(255, 255, 255, 0.4);
    outline: 0px;
    color: white;
    transition: background 300ms;
}

input[type="button"]:hover{
    cursor: pointer;
    background: rgba(255, 255, 255, 0.6);
}

.container-data{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.container-data h4{
    font-size: 12px;
    font-weight: 100;
    color: white;
    margin: 2px;
}

.container-data a{
    font-size: 12px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    margin: 2px;
}

.container-or{
    width: 100%;
    display: flex;
    justify-content:space-between;
    margin-top: 20px;
}

.container-or hr{
    width: 160px;
    height: 1px;
    border-style: none;
    background: white;
    margin-top: 7px;
}

.container-or h2{
    font-size: 14px;
    color: white;
}

.container-iconf{
    margin-top: 40px;
}

.icon-facebook{
    color: white;
    font-size: 22px;
}

.icon-facebook a{
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}


.container-register{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}


.container-register h4{
    font-size: 14px;
    font-weight: 100;
    color: white;
}

.container-register a{
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 4px;
    color: white;
}
.selec {
    width: 100%;
    padding: 14px;
    font-size: 16px;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.4);
    border-style: none;
    outline: 0px;
    color: white;
    display: contents;
}
